#chart1 {
	float: left;
	border: 2px dashed black;
	height: 400px;
	width: 100%;
}
#chart2 {
	float: right;
	border: 2px dashed black;
	height: 400px;
	width: 49%;
}

text.valueTop, text.valueBottom {
	font-family: sans-serif;
	font-size: 11px;
	fill: black;
	text-anchor: middle;
}

#pie1 {
  float: left;
	border: 2px dashed black;
	height: 400px;
	width: 400px;
}
path.pie1 {
  fill-rule: evenodd;
  fill: gold;
  fill-opacity: .7;
  stroke: #666;
  stroke-width: 5.5px;
}
#pie2 {
  float: left;
  border: 2px dashed black;
  height: 400px;
  width: 400px;
}


#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

path.pie2 {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
  transition: fill 250ms linear;/*refers to when change grey->red*/
  transition-delay: 150ms;/*refers to colour return*/
}

path.pie2:hover {
  fill: maroon;
  stroke: #000;
  transition-delay: 0;
}



#container{
  /*margin: 0px 10% 0px 10%;*/
  text-align: center;
}

#data-table{
  border: 1px dashed marroon;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;  
  table-layout: fixed;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
